extends layout

block docs-sidebar
    li
        a(href="#thanks") Thanks
    li
        a(href="#intro") Introduction
    li
        a(href="#feat") Features
    li
        a(href="#file-structure") File Structure
    li
        a(href="#bower") Dependencies Management with Bower
    li
        a(href="#grunt") Automation with Grunt
    li
        a(href="#run") How to Run It?
    li
        a(href="#use") How to Use It (Develop with It)?
    li
        a(href="#basic_html") Basic Template Structure
    //- li
    //-     a(href="#basic_css") Basic Stylesheet Structure
    //- li
    //-     a(href="#basic_js") Basic Script Structure
    li
        a(href="#credits") Credits

block content
    //- variables
    - var name = "Flatify"
    - var processor = 'Sass' // you also need to update the offical site link if you switch to LESS, i.e. change to lesscss.org

    section#thanks
        .page-header
            h1 Thank you
        p.lead Thank you for purchasing. If you have any questions that are beyond the scope of this documentation, please feel free to contact me.
        

    section#intro
        .page-header
            h1 Introduction
        p.lead "#{name}" is a fully responsive admin web App built with AngularJS. It use #{processor} CSS which makes it easy to modify.


    section#feat
        .page-header
            h1 Features
        ul
            li 
                strong Responsive Design.
            li 
                strong Web App
                |  (Single Page Application) Built with 
                strong AngularJS.
                strong  Fully AJAX
                |  powered, never refresh the entire page again. Faster, smoother.
            li 
                strong Runnable Task Application.
                |  Try it out.
            li 
                strong Internationalization (i18n) and Localization (l10n) support.  
                |  Add English, Español(Spanish), 日本語(Japanese), 中文(Chinese), Deutsch(German), français(French), Italiano(Italian), Portugal(Portuguese), Русский язык(Russian), 한국어(Korean)
                |  for demo.
            li Solid Workflow with 
                a(href="http://yeoman.io/") Yeoman
                | , scaffolding with 
                a(href="http://yeoman.io/") Yo
                | , dependencies (plugins) managment with 
                a(href="http://bower.io/") Twitter Bower
                | , tasks automation with 
                a(href="http://gruntjs.com/") Grunt
                | , make all things organised.
            li 
                strong Realtime
                |  Form Validation.
            li Build with 
                strong #{processor} CSS
                |  (Scss files are included). Easy modification with variables.
            li 
                strong Multiple Colors support
                | , you can 
                strong build your own
                |  by change a few variables.
            li 
                strong Many 
                |  widgets and components.
            li 
                strong Light
                |  Weight.
            li Built with Bootstrap 3.
            li Valid HTML5 and CSS3
            li Cross Browsers 
            li And much more.
 

    section#file-structure
        .page-header
            h1 File Structure
        p.lead Within the download you'll find the following file structure and contents
        p Once downloaded, unzip the compressed folder  and you'll see something like this:

        pre.prettyprint
            | #{name}/
            | ├── #{name}/                       ───> Contains the develop version of #{name} Admin Template.
            | │   ├── client/                    └──> All front end files are in this folder.
            | │   │     ├── fonts/                          └──> contains icon fonts.
            | │   │     ├── i18n/                           └──> files for i18n (Internationalization)
            | │   │     ├── images/                         
            | │   │     ├── scripts/                        └──> All the custom scripts
            | │   │     ├── styles/                         └──> All the custom stylesheets
            | │   │     ├── views/                          └──> All the custom templates
            | │   │     ├── favicon.ico
            | │   │     └── index.html
            | │   ├── .bowerrc
            | │   ├── .editorconfig
            | │   ├── .gitattributes
            | │   ├── .jshintrc
            | │   ├── .travis.yml
            | │   ├── app.js
            | │   ├── bower.json
            | │   ├── Gruntfile.coffee
            | │   └── package.json
            | ├── dist/                         ───> Contains the distribution version of #{name} Admin Template.
            | └── documentation/                ───> Where the help documentation is.
        p.lead Introduction of the important files:
        dl.dl-horizontal
            dt ".bowerrc"
            dd file is hidden, and is used for config 
                a(href="http://bower.io/") Twitter Bower

            dt "bower.json"
            dd  is the JSON file of 
                a(href="http://bower.io/") Twitter Bower
                |  (You can click the link to know more).

            dt "Gruntfile.coffee"
            dd  is the configure file of 
                a(href="http://gruntjs.com/") Grunt
                |  (You can click the link to know more).
                |  It is used to configure or define tasks and load Grunt plugins.

            dt "package.json"
            dd  is the JSON file of 
                a(href="http://gruntjs.com/") Grunt
                |  (You can click the link to know more).
                |  This file is used by npm to store metadata for projects published as 
                a(href="https://npmjs.org/") npm
                |  modules. You will list grunt and the Grunt plugins your project needs as 
                a(href="https://npmjs.org/doc/json.html#devDependencies") devDependencies
                |  in this file.


    section#bower
        .page-header
            h1  Dependencies Management with Bower
        p.lead 
            a(href="http://bower.io/") Bower
            |  is a front-end package manager for the web by Twitter.
        p #{name} use Bower to manage all the front end dependencies, make things clean, tidy and simple.
        p If you haven't try Bower before, then give it a shot,
            strong  it makes life easier
            | , you'll fail in love with it.
        //- p Some of the package are manually downloaded, put under path #{name}/client/scripts-vendors/, since they are need some slight modification to work well with Bootstrap 3.
        p Inside the 
            strong bower.json
            |  file of Bower, you'll see the list dependencies (package name and version):
        p If you want to know more about the packages, you can 
            a(href="http://bower.io/search/") click here. Search the package and click the link to know more.
        pre 
            |   "dependencies": {
            |    "jquery": "~1.11.0",
            |    "angular": "~1.2.0",
            |    "angular-resource": "~1.2.0",
            |    "angular-cookies": "~1.2.0",
            |    "angular-sanitize": "~1.2.0",
            |    "angular-route": "~1.2.0",
            |    "angular-animate": "~1.2.0",
            |    "font-awesome": "~4.0.3",
            |    "toastr": "~2.0.1",
            |    "underscore": "~1.5.2",
            |    "seiyria-bootstrap-slider": "~1.9.0",
            |    "bootstrap": "~3.1.0",
            |    "angular-bootstrap": "~0.10.0",
            |    "bootstrap-file-input": "*",
            |    "holderjs": "~2.3.1",
            |    "jquery.easy-pie-chart": "~2.1.4",
            |    "morris.js": "~0.5.0",
            |    "jquery.ui": "~1.10.4",
            |    "jquery.slimscroll": "~1.3.1",
            |    "jquery.easing": "~1.3.0",
            |    "moment": "~2.5.1",
            |    "gauge.js": "~1.0.0",
            |    "flot": "~0.8.2",
            |    "jquery-spinner": "~0.1.5",
            |    "jquery-steps": "https://github.com/rstaib/jquery-steps.git#~1.0.4",
            |    "angular-wizard": "~0.3.0",
            |    "weather-icons": "~0.0.1",
            |    "textAngular": "~1.2.0",
            |    "flot.tooltip": "*"
            |   }

    section#grunt
        .page-header 
            h1 Automation with Grunt
        p.lead
            a(href="http://gruntjs.com/") Grunt
            |  is a JavaScript task runner (Automation), save yourself from repetitive tasks.
        dl.dl-horizontal
            dt "Gruntfile.coffee"
            dd  is the configure file of 
                a(href="http://gruntjs.com/") Grunt
                |  (You can click the link to know more).
                |  It is used to configure or define tasks and load Grunt plugins.

            dt "package.json"
            dd  is the JSON file of 
                a(href="http://gruntjs.com/") Grunt
                |  (You can click the link to know more).
                |  This file is used by npm to store metadata for projects published as 
                a(href="https://npmjs.org/") npm
                |  modules. You will list grunt and the Grunt plugins your project needs as 
                a(href="https://npmjs.org/doc/json.html#devDependencies") devDependencies
                |  in this file.
        p Inside 
            strong package.json
            |  file, you'll see all the 
            a(href="http://gruntjs.com/plugins") Grunt plugins
            |  that help to automate the tasks.
        p And all the plugins are configured in 
            strong Gruntfile.coffee
            |  file.
        p If you want to know more about the plugins, you can 
            a(href="http://gruntjs.com/plugins") click here.
        pre
            |  "devDependencies": {
            |    "grunt": "~0.4.1",
            |    "grunt-contrib-copy": "~0.4.1",
            |    "grunt-contrib-concat": "~0.3.0",
            |    "grunt-contrib-coffee": "~0.7.0",
            |    "grunt-contrib-compass": "~0.5.0",
            |    "grunt-contrib-jshint": "~0.6.0",
            |    "grunt-contrib-cssmin": "~0.6.0",
            |    "grunt-contrib-connect": "~0.3.0",
            |    "grunt-contrib-clean": "~0.5.0",
            |    "grunt-contrib-htmlmin": "~0.1.3",
            |    "grunt-contrib-imagemin": "~0.2.0",
            |    "grunt-contrib-watch": "~0.5.2",
            |    "grunt-autoprefixer": "~0.2.0",
            |    "grunt-svgmin": "~0.2.0",
            |    "grunt-rev": "~0.1.0",
            |    "grunt-open": "~0.2.0",
            |    "grunt-concurrent": "~0.3.0",
            |    "load-grunt-tasks": "~0.1.0",
            |    "connect-livereload": "~0.2.0",
            |    "grunt-google-cdn": "~0.2.0",
            |    "grunt-ngmin": "~0.0.2",
            |    "time-grunt": "~0.1.0",
            |    "grunt-contrib-less": "~0.8.3",
            |    "grunt-usemin": "~2.0.2",
            |    "grunt-contrib-uglify": "~0.4.0"
            |  }


    section#run
        .page-header
            h1 How to Run it?
        p.lead You'll need to put the files on a server to run it. 
        p So you can upload the 
            strong "dist"
            |  folder to your server to run it. Or you can build a server locally.
        p.lead Then How to build a server locally?
        p
            em You can build a locally server using WAMP or MAMP (if you uses PHP). Also it's pretty easy to build one with Python (if you prefer python). And here we'll build a local server with NodeJS
        p 
            strong Preparation:
            |  You'll need to install 
            a(href="http://nodejs.org/") Node.js
            |  (NPM comes along with it) and 
            a(href="https://github.com/cloudhead/node-static") node-static
        p
            strong Steps:
        p It's very simple. Download 
            a(href="http://nodejs.org/download/") Node.js here
            |   then install it, and install 
            a(href="https://github.com/cloudhead/node-static") node-static
            |  with one command line
        pre
            | $ npm install -g node-static
        p The Usage of node-static is very simple. Just enter the "dist" directory with command line, and type
        pre
            | static
        p It'll return something like this: 
        pre
            | serving "." at http://127.0.0.1:8080
        p Then you can visit the template on http://127.0.0.1:8080 with your browser


    section#use
        .page-header
            h1 How to Use It (Develop with It)?
        p.lead In order to do development with it, you'll need have 
            a(href="http://nodejs.org/") Node.js
            |  (NPM comes along with it), 
            a(href="http://yeoman.io/") Yeoman
            |  (Bower, Grunt come along with it), 
            a(href="https://www.ruby-lang.org/en/") Ruby
            | , 
            a(href="http://sass-lang.com/") #{processor} 
            | , 
            a(href="http://compass-style.org/") Compass
            |  installed.
        p.lead And you'll need to know how to use them, click the links to learn more if you not familiar with these yet.
        p.lead If you already know how to use them, then just do a few things to start developing:
        ol
            li Enter "#{name}" folder with your command line.
            li Install NPM and Bower packages with NPM and Bower.
            li Then type
                strong  grunt server
                |  and you are ready to go.
        p All the files for development are under 
            strong ./#{name}/client/
            |  folder.
        p.lead Structures of the folders inside 
            strong client
            |  folder.
        pre.prettyprint
            | client/
            | ├── fonts/
            | ├── i18n/
            | ├── images/
            | ├── scripts/
            | ├── styles/
            | ├── views/
            | ├── favicon.ico
            | └── index.html
        p.lead Introduction of important files:
        dl.dl-horizontal
            dt fonts
            dd contains the fonts for glyphicons icons.

            dt i18n
            dd containes the JSON files for Internationalization (i18n).

            dt images
            dd is where all the images is.

            dt scripts
            dd contains all the custom scripts (CoffeeScript).

            //- dt scripts-vendors
            //- dd contains some vendor scripts that for some reason can not be managed with Bower

            dt styles
            dd contains all the custom stylesheets (Scss).

            //- dt styles-vendors
            //- dd contains some vendor stylesheets that for some reason can not be managed with Bower.

            dt views
            dd contains all the template files (HTML).

            dt favicon.ico
            dd the favicon icon.

            dt index.html
            dd The main HTML file.


    section#basic_html
        .page-header
            h1 Basic Template Structure
        p.lead The basic structure of template (index.html) is quiet simple. It contains 3 parts: 
            strong Head
            | , which load all the stylesheets. 
            strong Body
            | , which contains the content App.  
            strong Foot 
            | , which load all the scripts. 
        p.lead The Head
        pre.prettyprint.linenums
            | &lt;!doctype html&gt;
            | &lt;!--[if gt IE 8]&gt;&lt;!--&gt; &lt;html class="no-js"&gt; &lt;!--&lt;![endif]--&gt;
            |     &lt;head&gt;
            |         &lt;meta charset="utf-8"&gt;
            |         &lt;meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'&gt;
            |         &lt;title&gt;Web Application&lt;/title&gt;
            |         &lt;meta name="description" content=""&gt;
            |         &lt;meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"&gt;
            |         &lt;!-- Place favicon.ico and apple-touch-icon.png in the root directory --&gt;
            |         &lt;link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'&gt;
            |         &lt;!-- needs images, font... therefore can not be part of ui.css --&gt;
            |         &lt;link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css"&gt;
            |         &lt;link rel="stylesheet" href="bower_components/weather-icons/css/weather-icons.min.css"&gt;
            |         &lt;!-- end needs images --&gt;
            | 
            |             &lt;!-- build:css styles/ui.css --&gt;
            |             &lt;link rel="stylesheet" href="bower_components/morris.js/morris.css"&gt;
            |             &lt;!-- endbuild --&gt;
            |             &lt;link rel="stylesheet" href="styles/main.css"&gt;
            | 
            |     &lt;/head&gt;

        p.lead The Body
        pre.prettyprint.linenums
            |     &lt;body data-ng-app="app" id="app" data-custom-background data-off-canvas-nav&gt;
            |         &lt;!--[if lt IE 9]&gt;
            |             &lt;p class="browsehappy"&gt;You are using an &lt;strong&gt;outdated&lt;/strong&gt; browser. Please &lt;a href="http://browsehappy.com/"&gt;upgrade your browser&lt;/a&gt; to improve your experience.&lt;/p&gt;
            |         &lt;![endif]--&gt;
            | 
            |         &lt;div data-ng-controller="AppCtrl"&gt;
            |             &lt;div data-ng-hide="isSpecificPage()"
            |                  data-ng-cloak&gt;
            |                 &lt;section data-ng-include=" 'views/header.html' "
            |                      id="header" class="top-header"&gt;&lt;/section&gt;
            | 
            |                 &lt;aside data-ng-include=" 'views/nav.html' "
            |                      id="nav-container"&gt;&lt;/aside&gt;
            |             &lt;/div&gt;
            | 
            |             &lt;div class="view-container"&gt;
            |                 &lt;section data-ng-view id="content" class="animate-fade-up"&gt;&lt;/section&gt;
            |             &lt;/div&gt;
            |         &lt;/div&gt;

        p.lead The Foot
        pre.prettyprint.linenums
            |         &lt;!-- build:js scripts/vendor.js --&gt;
            |         &lt;script src="bower_components/jquery/dist/jquery.min.js"&gt;&lt;/script&gt;
            |         &lt;script src="bower_components/angular/angular.min.js"&gt;&lt;/script&gt;
            |         &lt;script src="bower_components/angular-route/angular-route.min.js"&gt;&lt;/script&gt;
            |         &lt;script src="bower_components/angular-animate/angular-animate.min.js"&gt;&lt;/script&gt;
            |         &lt;script src="bower_components/underscore/underscore-min.js"&gt;&lt;/script&gt;
            |         &lt;!-- endbuild --&gt;
            | 
            |         &lt;!-- build:js scripts/ui.js --&gt;
            |         &lt;script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"&gt;&lt;/script&gt;
            |         &lt;script src="bower_components/jquery-spinner/dist/jquery.spinner.min.js"&gt;&lt;/script&gt;
            |         &lt;script src="bower_components/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js"&gt;&lt;/script&gt;
            |         &lt;script src="bower_components/jquery-steps/build/jquery.steps.min.js"&gt;&lt;/script&gt;
            |         &lt;script src="bower_components/toastr/toastr.min.js"&gt;&lt;/script&gt;
            |         &lt;script src="bower_components/bootstrap-file-input/bootstrap.file-input.js"&gt;&lt;/script&gt;
            |         &lt;script src="bower_components/jquery.slimscroll/jquery.slimscroll.min.js"&gt;&lt;/script&gt;
            |         &lt;script src="bower_components/holderjs/holder.js"&gt;&lt;/script&gt;
            |         &lt;script src="bower_components/raphael/raphael-min.js"&gt;&lt;/script&gt;
            |         &lt;script src="bower_components/morris.js/morris.js"&gt;&lt;/script&gt;
            |         &lt;script src="scripts/vendors/responsive-tables.js"&gt;&lt;/script&gt;
            |         &lt;script src="scripts/vendors/jquery.sparkline.min.js"&gt;&lt;/script&gt;
            |         &lt;script src="bower_components/flot/jquery.flot.js"&gt;&lt;/script&gt;
            |         &lt;script src="bower_components/flot/jquery.flot.resize.js"&gt;&lt;/script&gt;
            |         &lt;script src="bower_components/flot/jquery.flot.pie.js"&gt;&lt;/script&gt;
            |         &lt;script src="bower_components/flot/jquery.flot.stack.js"&gt;&lt;/script&gt;
            |         &lt;script src="bower_components/flot.tooltip/js/jquery.flot.tooltip.min.js"&gt;&lt;/script&gt;
            |         &lt;script src="bower_components/flot/jquery.flot.time.js"&gt;&lt;/script&gt;
            |         &lt;script src="bower_components/gauge.js/dist/gauge.min.js"&gt;&lt;/script&gt;
            |         &lt;script src="bower_components/jquery.easy-pie-chart/dist/angular.easypiechart.min.js"&gt;&lt;/script&gt;
            |         &lt;script src="bower_components/angular-wizard/dist/angular-wizard.min.js"&gt;&lt;/script&gt;
            |         &lt;script src="bower_components/textAngular/textAngular-sanitize.min.js"&gt;&lt;/script&gt;
            |         &lt;script src="bower_components/textAngular/textAngular.min.js"&gt;&lt;/script&gt;
            |         &lt;script src="scripts/vendors/skycons.js"&gt;&lt;/script&gt;
            |         &lt;!-- endbuild --&gt;
            | 
            |         &lt;!-- build:js({.tmp,app}) scripts/app.js --&gt;
            |         &lt;script src="scripts/app.js"&gt;&lt;/script&gt;
            |         &lt;script src="scripts/shared/main.js"&gt;&lt;/script&gt;
            |         &lt;script src="scripts/shared/directives.js"&gt;&lt;/script&gt;
            |         &lt;script src="scripts/shared/localize.js"&gt;&lt;/script&gt;
            |         &lt;script src="scripts/UI/UICtrl.js"&gt;&lt;/script&gt;
            |         &lt;script src="scripts/UI/UIDirective.js"&gt;&lt;/script&gt;
            |         &lt;script src="scripts/UI/UIService.js"&gt;&lt;/script&gt;
            |         &lt;script src="scripts/Form/FormDirective.js"&gt;&lt;/script&gt;
            |         &lt;script src="scripts/Form/FormCtrl.js"&gt;&lt;/script&gt;
            |         &lt;script src="scripts/Form/FormValidation.js"&gt;&lt;/script&gt;
            |         &lt;script src="scripts/Table/TableCtrl.js"&gt;&lt;/script&gt;
            |         &lt;script src="scripts/Task/Task.js"&gt;&lt;/script&gt;
            |         &lt;script src="scripts/Chart/ChartCtrl.js"&gt;&lt;/script&gt;
            |         &lt;script src="scripts/Chart/ChartDirective.js"&gt;&lt;/script&gt;
            |         &lt;!-- endbuild --&gt;
            |     &lt;/body&gt;
            | &lt;/html&gt;


    section#credits
        .page-header
            h1 Credits
        ul
            li
                a(href="http://getbootstrap.com/") Bootstrap
                |  The most popular front-end framework for developing responsive, mobile first projects on the web.
            li
                a(href="http://jquery.com/") jQuery
                |  write less, do more.
            li
                a(href="http://angularjs.org/") AngularJS
                |  HTML enhanced for web Apps!
            li
                a(href="https://github.com/angular-ui/bootstrap") angular-bootstrap
                |  Native AngularJS (Angular) directives for Twitter's Bootstrap. 
            li
                a(href="http://yeoman.io/") Yeoman
                | , [Twitter Bower](http://bower.io/), [Grunt](http://gruntjs.com/")) for modern web Apps.
            li
                a(href="http://fontawesome.io/") Font Awesome
                |  the awesome icon fonts.
            li
                a(href="https://github.com/jashkenas/underscore") UnderscoreJS
                |  JavaScript's utility _ belt
            li
                a(href="https://github.com/CodeSeven/toastr") Toastr
                |  Simple javascript toast notifications
            li
                a(href="https://github.com/seiyria/bootstrap-slider") bootstrap-slider
                |  simple range slider
            li
                a(href="https://github.com/grevory/bootstrap-file-input") bootstrap-file-input
                |  Standardizes the file input field to look like a Bootstrap button in all browsers
            li
                a(href="https://github.com/imsky/holder") holderjs
                |  Holder renders image placeholders entirely on the client side.
            li
                a(href="https://github.com/rendro/easy-pie-chart") jquery.easy-pie-chart
                |  a lightweight plugin to draw simple, animated pie charts for single values
            li
                a(href="https://github.com/morrisjs/morris.js") morris.js
                |  Pretty time-series line graphs
            li
                a(href="https://github.com/flot/flot") flot
                |  Attractive JavaScript charts for jQuery
            li
                a(href="https://github.com/bernii/gauge.js") gauge.js
                |  100% native and cool looking JavaScript gauge
            li
                a(href="https://github.com/xixilive/jquery-spinner") jquery-spinner
                |  A Number-Spinner based-on jQuery, Support Keyboard operations and continuous changing.
            li
                a(href="https://github.com/rstaib/jquery-steps") jquery-steps
                |  A powerful jQuery wizard plugin that supports accessibility and HTML5.
            li
                a(href="http://depositphotos.com/") depositphotos
                |  Royalty-Free Stock Photos
            li
                a(href="https://github.com/erikflowers/weather-icons") weather-icons
                |  Beautiful weather icons.
            li
                a(href="https://github.com/fraywing/textAngular") textAngular
                |  A radically powerful Text-Editor/Wysiwyg editor for Angular.js!
            li
                a(href="https://github.com/krzysu/flot.tooltip") flot.tooltip
                |  tooltip plugin for wonderful Flot plotting library

